main {
  /* margin: 0 2rem; */
}

.col-btn {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin : 1rem 0;
}

.erro{
  color: rgb(255, 30, 30);
}

.cor-debito {
  color: rgb(255, 30, 30);
}

.cor-credito {
  color: rgb(0, 255, 0);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 60px);
}